<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Full name</label>
      <input type="text" class="form-control" id="inputName" placeholder="John Doe">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail">E-mail</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="john@doe.com">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPhone">Phone Number</label>
      <input type="text" class="form-control" id="inputPhone" placeholder="+27 83 123 4567">
    </div>
    <div class="form-group col-md-6">
      <label for="inputCompany">Company</label>
      <input type="email" class="form-control" id="inputCompany" placeholder="ABC Company">
    </div>
  </div>
  <div class="form-group">
    <div class="form-text">
      <textarea class="form-control" id="moreInput" name="more-input" rows="6" placeholder="How can we help you?"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-10">
      <p>Please be informed that when you click the Send button x-idian will process your personal data for the purpose of providing you with appropriate information.</p>
    </div>
    <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </div>
</form>