<form id="contact-form" action="{{ .Site.Params.formPost }}" method="post">
  <div class="form-row">
    <div class="form-group col-md-6" aria-label="full name" aria-required="true">
      <input type="text" class="form-control" id="inputName" name="fullName" placeholder="Full name" required>
    </div>
    <div class="form-group col-md-6" aria-label="email" aria-required="true">
      <input type="email" class="form-control" id="inputEmail" name="email" placeholder="E-mail" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6" aria-label="phone number">
      <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="Phone number">
    </div>
    <div class="form-group col-md-6" aria-label="company">
      <input type="text" class="form-control" id="inputCompany" name="company" placeholder="Company">
    </div>
  </div>
  <div class="form-group">
    <div class="form-text">
      <textarea class="form-control" id="moreInput" name="description" rows="6"
                placeholder="How can we help you?"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-10">
      <p id="contact-form-status">
        Please be informed that when you click the Send button X-idian will process your
        personal data for the purpose of providing you with appropriate information.
      </p>
    </div>
    <div class="form-group col-md-2">
      <button formtarget="_blank" type="submit" id="contact-form-button" style="width: 125px" class="btn btn-primary float-right">Send</button>
    </div>
  </div>
</form>
