{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}
  <section class="site-hero" style="background-image: url('{{ .background_image }}');">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div class="site-hero-content text-center">
            <h1>
              {{ .heading }}
            </h1>
            <h4>{{ .tagline }}</h4>
            <div class="row site-hero-content-buttons">
              <div class="col-lg-4">
                <a class="btn btn-hero-nav" href="{{ `services/artificial-intelligence` | absURL }}">
                  <span class="bi bi-robot"></span>
                  <div class="h5">Artificial<br>Intelligence</div>
                </a>
              </div>
              <div class="col-lg-4">
                <a class="btn btn-hero-nav" href="{{ `services/application-development` | absURL }}">
                  <span class="bi bi-tools"></span>
                  <div class="h5">Application<br>Development</div>
                </a>
              </div>
              <div class="col-lg-4">
                <a class="btn btn-hero-nav" href="{{ `services/product-development` | absURL }}">
                  <i class="bi bi-window-stack"></i>
                  <div class="h5">Product<br>Development</div>
                </a>
              </div>
              <div class="col-lg-12">
                <a class="btn btn-contact" href="{{ `contact` | absURL }}">Get in touch</a>
              </div>
            </div>
          </div>
        </div>
        <div>

        </div>
      </div>
    </div>
  </section>
  {{ "<!-- Site Hero End -->" | safeHTML }}
  {{ end }}
{{ end }}
