.site-hero{
  position: relative;
  min-height: 100vh;
  background-color: #333;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 992px) {
    padding: 200px 0;

    .container-fluid {
      max-width: 800px;
      margin-left: 15%;
    }
  }

  @media (max-width: 921px) {
    padding: 100px 0;
    .container-fluid {
      max-width: 100%;
      margin-left: auto;
    }
  }

  &-content{

    h1,h2,h3,h4,h5 {
      color: $white;
    }

    &-buttons{
      padding-top: 45px;

      .btn-hero-nav:hover {
        @include text-primary-gradient;
        filter: brightness(2);
      }

      .h5 {
        padding-top: 15px;
      }

      .btn-contact {
        font-size: 22px;
        width: 200px;
        animation: none;

        @media screen {
          margin-top: 45px;
        }

        @media handheld {
          margin-top: 0;
        }
      }
    }
  }
  &-scroll{
    position: absolute;
    left: 50%; bottom: 70px;
  }
}