.site-hero{
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop{
    height: auto;
    padding: 200px 0;
  }
  @include mobile{
    padding: 150px 0;
  }
  &-content{

    h1,h2,h3,h4,h5 {
      color: $white;
    }

    &-buttons{
      padding-top: 45px;

      .btn-hero-nav:hover {
        @include text-primary-gradient;
        filter: brightness(2);
      }

      .h5 {
        padding-top: 15px;
      }

      .bi {
        font-size: 50px;
      }

      .btn {
        transition: none;
      }

      .btn-contact {
        font-size: 22px;
        width: 200px;

        @media screen {
          margin-top: 45px;
        }

        @media handheld {
          margin-top: 0;
        }
      }
    }
  }
  &-scroll{
    position: absolute;
    left: 50%; bottom: 70px;
  }
}