{{ define "main" }}
<section
    class="site-header d-flex align-items-center justify-content-center"
    style="background-image: url('/{{ .Params.sectionHeaderImage }}')">
  <div class="overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">{{ .Params.title | safeHTML }}</h2>
    </div>
  </div>
</section>
<section class="site-body">
  {{ range sort .Pages "File.Path" }}
  <div class="{{ .Params.bgColour }}">
  <div class="container">
    <div class="row justify-content-center py-lg-5">
      {{ partial "content-block.html" . }}
      {{ range sort .Pages "File.Path" }}
      {{ partial "content-block.html" . }}
      {{ end }}
    </div>
  </div>
  </div>
  {{ end }}
</section>

<div class="bg-white">
  {{ partial "call-to-action.html" . }}
</div>
{{ end }}
