{{ define "main" }}
<section style="background-image: url('https://source.unsplash.com/random/900%C3%97700/?software,ai')" class="site-header d-flex align-items-center justify-content-center">
  <div class="overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">{{ .Params.title | safeHTML }}</h2>
    </div>
  </div>
</section>
<section class="site-body">
  {{ range sort .Pages "File.Path" }}
  <div class="{{ .Params.bgColour | default "bg-white" }}">
  <div class="container">
    <div class="row justify-content-center py-lg-5">
      {{ partial "content-block.html" . }}
      {{ range sort .Pages "File.Path" }}
      {{ partial "content-block.html" . }}
      {{ end }}
    </div>
  </div>
  </div>
  {{ end }}
</section>

{{ partial "call-to-action.html" . }}
{{ end }}
