<section class="site-cta" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="h3">Contact Us</div>
        <div class="pb-5 pb-sm-4 pb-md-0">
          <div class="mb-2">
            Sales and general inquires
          </div>

          <a class="btn-text" href="mailto:info@x-idian.com"
             aria-label="Contact us by email">
            info@x-idian.com
          </a>

        </div>
      </div>
      <div class="col-md-8">
        {{ partial "contact-form.html" . }}
      </div>
    </div>
  </div>
</section>
