{{ if .Params.imageFirst }}
    {{ if .Params.Image }}
    <div class="col-lg-{{ .Params.imageSize | default 4 }} d-flex justify-content-center p-2">
        <img class="rounded img-responsive" src="{{ .Params.Image | absURL }}" alt="post-thumb">
    </div>
    {{ end }}
{{ end }}
{{ if .Params.contentSize }}
<div class="col-lg-{{ .Params.contentSize }} pt-2">
    {{ if .Params.mainTitle }}
    <div class="h3 mb-3">{{.Title}}</div>
    {{ if .Params.mainTitleLine }}
    <hr class="xd-hr-gradient"/>
    {{ end }}
    {{ else }}
    {{ if .Params.subTitleLine }}
    <hr class="xd-hr-gradient"/>
    {{ end }}
    <div class="h4">{{ .Title }} </div>
    {{ end }}
    <p>{{ .Content }}</p>
  {{ if .Params.table }}
  <div class="container">
    <div class="row col-12 pb-4">
      {{ range $key, $value := .Params.table }}


      <div class="row col-12 col-md-6">
        {{ with $key }}
        <div class="h5 col-12 pb-4">{{ . | strings.ToUpper }}</div>
        {{ end }}
        {{ range $value}}
            <div class="col-12 col-sm-6 pb-4">
              {{ . }}
            </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
    <hr class="xd-hr-light"/>
  </div>
  {{ end }}
</div>
{{ end }}
{{ if not (.Params.imageFirst) }}
    {{ if .Params.Image }}
    <div class="col-lg-{{ .Params.imageSize | default 4 }} d-flex justify-content-center p-2">
        <img class="rounded img-responsive {{ .Params.ImageClass}}"
             src="{{ .Params.Image | absURL }}" alt="post-thumb">
    </div>
    {{ end }}
{{ end }}
