.btn{
  border: none;
  border-radius: 25px;
  color: $white;
  padding: 15px 15px;
}

.btn-sm{
  padding: 15px 40px !important;
}

.btn-sm-rounded{
  border-radius: 40px;
}

.btn-primary{
  background: $primary-color;
  color: $white;
  &:hover{
    background: darken($color: $primary-color, $amount: 10);
  }
}

.btn-secondary{
  background: $secondary-color;
  color: $white;
  &:hover{
    background: darken($color: $secondary-color, $amount: 10);
  }
}
.btn-contact {
  background-color: $primary-color;
  font-weight: bold;
  border-radius: 25px;
  width: 150px;
  animation: fade 10s linear 2s infinite;

  &:hover{
    color: white;
    background: fade-in($color: $secondary-color, $amount: 1);
  }

  @keyframes fade {
    0%,2% {
      outline: 2px solid rgba(255,255,255,0.7);
    }
    5%, 100% {
      outline: 3px solid rgba(255,255,255,0);
      outline-offset: 10px;
    }
  }
}