//site color variables
$body-color: #fff;
$primary-color: #27A770;
$secondary-color: rgb(34, 70, 163);
$text-color: #000000;
$text-color-dark: #333333;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;
$transparent: rgba(0, 0, 0, 0);

// Font Variables
$primary-font: 'Montserrat', sans-serif;
$secondary-font: sans-serif;
