{{ if .Params.imageFirst }}
    {{ if .Params.Image }}
    <div class="col-lg-{{ .Params.imageSize | default 4 }} d-flex justify-content-center p-2">
        <img class="rounded img-responsive" src="{{ .Params.Image | absURL }}" alt="post-thumb">
    </div>
    {{ end }}
{{ end }}
<div class="col-lg-{{ .Params.contentSize | default 8 }} pt-2">
    {{ if .Params.mainTitle }}
        <h3>{{.Title}}</h3>
      {{ if .Params.mainTitleLine }}
          <hr class="hr-xd-gradient"/>
      {{ end }}
    {{ else }}
        {{ if .Params.subTitleLine }}
          <hr class="hr-xd-gradient"/>
        {{ end }}
        <h5>{{ .Title }} </h5>
    {{ end }}
    <p>{{ .Content }}</p>
</div>
{{ if .Params.table }}
<div class="container">
  <div class="row p-1 pb-4">
            {{ $counter := 0 }}
            {{ range .Params.table }}
            {{ $counter = add $counter 1 }}
                <div class="col-3 col-sm-2 p-1">
                    {{ . }}
                </div>
            {{ end }}
  </div>
  <hr class="hr-xd-light"/>
</div>
{{ end }}
{{ if not (.Params.imageFirst) }}
    {{ if .Params.Image }}
    <div class="col-lg-{{ .Params.imageSize | default 4 }} d-flex justify-content-center p-2">
        <img class="rounded img-responsive" src="{{ .Params.Image | absURL }}" alt="post-thumb">
    </div>
    {{ end }}
{{ end }}
