{{ if .Params.imageFirst }}
    {{ if .Params.Image }}
    <div class="col-lg-{{ .Params.imageSize | default 4 }} d-flex justify-content-center p-2">
        <img class="rounded img-responsive" src="{{ .Params.Image | absURL }}" alt="post-thumb">
    </div>
    {{ end }}
{{ end }}
{{ if .Params.contentSize }}
<div class="col-lg-{{ .Params.contentSize }} pt-2">
    {{ if .Params.mainTitle }}
    <h3>{{.Title}}</h3>
    {{ if .Params.mainTitleLine }}
    <hr class="xd-hr-gradient"/>
    {{ end }}
    {{ else }}
    {{ if .Params.subTitleLine }}
    <hr class="xd-hr-gradient"/>
    {{ end }}
    <h5>{{ .Title }} </h5>
    {{ end }}
    <p>{{ .Content }}</p>
</div>
{{ end }}
{{ if .Params.table }}
<div class="container">
    {{ $itemsPerLine := default 8 .Params.tableItemsPerLine }}
    <table class="table table-borderless">
    {{ range $key, $value := .Params.Table }}
        {{ with $key }}
        <thead>
        <tr>
            <th colspan="{{ $itemsPerLine }}">{{ . | strings.ToUpper }}</th>
        </tr>
        <tbody>
        {{ end }}
        <tr>
            {{ $totalItems := len $value }}
            {{ $counter := 0 }}
            {{ range $value }}
                {{ $counter = add $counter 1 }}
                <td>{{.}}</td>
                {{ if and (eq (mod $counter $itemsPerLine) 0) (lt $counter $totalItems) }}
                    </tr>
                    <tr>
                {{ end }}
            {{ end }}
                    </tr>
        </tbody>
        {{ end }}
    </table>

  <hr class="xd-hr-light"/>
</div>
{{ end }}
{{ if not (.Params.imageFirst) }}
    {{ if .Params.Image }}
    <div class="col-lg-{{ .Params.imageSize | default 4 }} d-flex justify-content-center p-2">
        <img class="rounded img-responsive" src="{{ .Params.Image | absURL }}" alt="post-thumb">
    </div>
    {{ end }}
{{ end }}
